<h1>Thank You for taking this quiz</h1>

<% @results.each do |obj| %>
  <% obj.each_pair do |question, choices| %>
    <h1>Question: <%= question %></h1>
    <% choices.each do |choice| %>
      <h2><%= @choices[choice.choice_id] %> was selected <%= pluralize(choice.count, 'time') %></h2>
    <% end %>
  <% end %>
  <br />
<% end %>
